.chrome_presenter_panel {
  background: #E7E8E9;
  width: 0;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 999;
  border: 2px solid #707070;
  display: none;
  flex-direction: column;

  font-size: 16px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

.chrome_presenter_panel > * {
  font-size: 16px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

.chrome_presenter_panel .steps_count_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.chrome_presenter_panel .steps_text {
  font-size: 25px;
}

.chrome_presenter_panel .steps_count {
  margin-left: 35px;
  font-size: 60px;
  font-weight: 800;
}

.chrome_presenter_panel .highlight_customization {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chrome_presenter_panel .highlight_text {
  font-size: 20px;
  font-weight: 500;
  color: #505050;
  margin-bottom: 15px;
}

.chrome_presenter_panel .highlight_text > input {
  width: 120px;
  height: 30px;
  font-size: 22px;
}

.chrome_presenter_panel .setup_configuration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chrome_presenter_panel .setup_configuration .add_element {
  margin-bottom: 10px;
  margin-top: 15px;
}

.chrome_presenter_panel .setup_configuration .btn-default {
  font-size: 15px;
  margin: 3px;
}

.chrome_presenter_panel .action_buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  margin-bottom: 5px;
}

.chrome_presenter_panel .action_buttons .info {
  margin: 20px;
  color: #232323;
  text-align: center;
}

.chrome_presenter_panel .action_buttons button {
  font-size: 25px;
}

.chrome_presenter_panel .btn {
  border-radius: 4px;
  margin: 2px;
  padding: 3px 10px;
}

.chrome_presenter_panel .btn-default {
  background: #fff;
}

.chrome_presenter_panel .btn-primary {
  background: #443B55;
  color: #fff;
}

.chrome_presenter_highlight {
  outline: 5px solid hotpink !important;
  outline-offset: -4px !important;
}